<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Formio Wizard Example</title>
    <meta name="description" content="A raw form to use with https://form.io">
    <meta name="viewport" content="width=device-width">
    <!-- build:css css/app.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/formio/css/formio.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <script src="https://maps.google.com/maps/api/js"></script>
  </head>
  <body ng-app="formioForm" ng-controller="WizardController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-show="wizardDone" class="panel panel-default">
      <div class="panel-heading">Submitted Data</div>
      <ul class="list-group" ng-repeat="submission in submissions">
        <li class="list-group-item" ng-repeat="(key, value) in submission.data"><strong>{{ key }}</strong> - {{ value }}</li>
      </ul>
    </div>

    <!-- Add the form.io form. -->
    <div ng-show="!wizardDone" id="formio-wizard"></div>

    <!-- build:js js/app.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-paginate-anything/dist/paginate-anything-tpls.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/signature_pad/signature_pad.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/formio/dist/formio.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script type="text/javascript">
      angular.module('formioForm', ['formio'])
        .controller('WizardController', [
          '$scope',
          '$compile',
          function(
            $scope,
            $compile
          ) {

            // All your wizard pages can go here.
            var pages = [
              'https://wizard.form.io/app/api/page1',
              'https://wizard.form.io/app/api/page2',
              'https://wizard.form.io/app/api/page3'
            ];

            // Keep track of all the submissions.
            $scope.submissions = [];
            $scope.wizardDone = false;

            // Show the page at the following index.
            var showPage = function(index) {

              // Create the page.
              var page = angular.element(document.createElement('formio'));
              var attributes = {
                src: "'" + pages[index] + "'"
              };
              if ($scope.submissions.length > 0) {
                attributes.submission = angular.toJson({
                  data: {previousSubmission: $scope.submissions[($scope.submissions.length - 1)]._id}
                });
              }

              // Assign the HTML to the wizard page.
              angular.element('#formio-wizard').html($compile(page.attr(attributes))($scope));
            };

            // Show the first page.
            showPage(0);

            // Trigger on the form submission event.
            $scope.$on('formSubmission', function(event, submission) {
              $scope.submissions.push(submission);
              if ($scope.submissions.length < pages.length) {
                showPage($scope.submissions.length);
              }
              else {
                $scope.wizardDone = true;
              }
            });
          }
        ]);
    </script>
</body>
</html>
