<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Formio Wizard Example</title>
    <meta name="description" content="A raw form to use with https://form.io">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/formio/css/formio.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body ng-app="formioWizard" ng-controller="WizardController">
    <a href="https://github.com/formio/formio-wizard" target="_blank"><img style="z-index:5000; position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://form.io"><img style="height: 2em; margin-top: -0.5em;" src='https://portal.form.io/images/formio-logo-white.png' /></a>
        </div>
      </div>
    </nav>
    <div class="jumbotron" style="margin-top: 50px;">
      <div class="container text-center">
        <p>The following is a live, working application showing off the <strong>Multi-Page Form</strong> capabilities of <a target="_blank" href="https://form.io">Form.io</a>.</p>
        <p>All the magic happens with one line of code</p>
        <p><strong><pre>&lt;formio-wizard src="'{{ formUrl }}'"&gt;&lt;/formio-wizard&gt;</pre></strong></p>
        <ul class="list-inline">
          <li><a class="btn btn-primary" target="_blank" href="https://github.com/formio/formio-wizard">Find out more</a></li>
          <li><a class="btn btn-success" target="_blank" href="https://form.io">Go to Form.io</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row bs-wizard" style="border-bottom:0;">
        <div ng-class="{disabled: ($index > currentPage), active: ($index == currentPage), complete: ($index < currentPage)}" class="{{ colclass }} bs-wizard-step" ng-repeat="page in pages">
          <div class="text-center bs-wizard-stepnum">{{ page }}</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a ng-click="gotoPage($index)" class="bs-wizard-dot"></a>
        </div>
      </div>
      <style type="text/css">.bs-wizard > .bs-wizard-step:first-child { margin-left: {{ margin }}%; }</style>
    </div>
    </div>
    <div class="container">
      <!-- The Form.io Wizard Element. -->
      <formio-wizard ng-show="!wizardDone" storage="'wizard'" src="formUrl"></formio-wizard>

      <!-- Show submission info the wizard is done. -->
      <submission-info ng-show="wizardDone" submission="submission"></submission-info>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ui-select/dist/select.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
    <script src="bower_components/signature_pad/signature_pad.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="bower_components/formio/dist/formio.js"></script>
    <script src="src/wizard.js"></script>
    <script type="text/javascript">
      var query = {};
      location.search.substr(1).split("&").forEach(function(item) {
        query[item.split("=")[0]] = item.split("=")[1] && decodeURIComponent(item.split("=")[1]);
      });

      angular.module('formioWizard', ['formio.wizard'])
        .directive('submissionInfo', function() {
          return {
            restrict: 'E',
            replace: true,
            template:
              '<div class="panel panel-default">' +
                '<div class=ui.mask"panel-heading">Submitted Data</div>' +
                '<ul class="list-group">' +
                  '<li class="list-group-item" ng-repeat="(key, value) in submission.data"><strong>{{ key }}</strong> - {{ value }}</li>' +
                '</ul>' +
              '</div>',
            scope: {
              submission: '='
            }
          };
        })
        .controller('WizardController', [
          '$scope',
          function(
            $scope
          ) {
            $scope.formUrl = query.form || 'https://wizard.form.io/wizard';
            $scope.pages = [];
            $scope.wizardDone = false;
            $scope.submission = {};
            $scope.currentPage = 0;
            $scope.colclass = '';
            $scope.$on('formSubmission', function(event, submission) {
              $scope.wizardDone = true;
              $scope.submission = submission;
            });
            $scope.gotoPage = function(index) {
              $scope.$broadcast('wizardGoToPage', index);
            };
            $scope.$on('wizardPage', function(event, page) {
              $scope.currentPage = page;
            });
            $scope.$on('wizardFormLoad', function(event, form) {
              angular.forEach(form.components, function(component) {
                $scope.pages.push(component.title);
              });

              if ($scope.pages.length > 6) {
                $scope.margin = ((1 - ($scope.pages.length * 0.0833333333)) / 2) * 100;
                $scope.colclass = 'col-sm-1';
              }
              else {
                $scope.margin = ((1 - ($scope.pages.length * 0.1666666667)) / 2) * 100;
                $scope.colclass = 'col-sm-2';
              }
            });
          }
        ]);
    </script>
</body>
</html>
